.btn-atualizar{
  position: absolute;
  margin-right: 10px;
  right: 0;
  top: 0;
  margin-top: 15px;
}

.btn-add{
  position: fixed;
  right: 32px;
  bottom: 32px;
}

.form-inp{
  width: 100%;
}

.area-edicao{
  margin-top: 30px;
}

.btn-acao{
  margin-left: 15px;
}
